@mixin line {
  border-bottom: 1px solid #ddd;
  padding: 140px 0;
}
.work {
  img {max-height: 500px;}
  span {color: var(--color-blue-1);}
  .title {
    &::before {left: inherit; right: -40px; bottom: -200px; width: 900px; height: 900px;}
    &::after  {left: -450px; right: inherit; top: -550px; width: 1130px; height: 1130px;}
    &_section {
      display: flex; justify-content: center; gap: 40px; padding-bottom: 32px;
      a {
        padding: 0 24px; margin: 0 8px; width: 130px; height: 130px; font-size: 1.25rem; border-radius: 50%; mix-blend-mode: multiply;
        &:nth-of-type(1) {background: center url('/images/work/work_icon_1.png'); background-size: cover;&::before {content: 'AI 연구소';}}
        &:nth-of-type(2) {background: center url('/images/work/work_icon_2.png'); background-size: cover;&::before {content: '바이오 연구소';}}
        &:nth-of-type(3) {background: center url('/images/work/work_icon_3.png'); background-size: cover;&::before {content: '경영조직';}}
        &::before {position: absolute; bottom: -50px; left: 0; letter-spacing: -1px; width: 130px;}
        &:hover {mix-blend-mode: normal; transition: .5;}
        }
      }
    }
  .ai, .bio, .operation {
    width: 100%;
    font-size: 1.375rem;
    line-height: 200%;
    &>p {
      &:nth-of-type(1) {margin: 100px 0;}
    }
    &_lab {
      &_explaine {
        @include line;
        p {
          line-height: 200%;
          &:nth-of-type(2), &:nth-of-type(5), &:nth-last-of-type(1) {
            margin-top: 32px;
          }
        }
      }
      &_platform {
        @include line; position: relative;
        &::before {content: ''; position: absolute; right: -450px; top: -500px; width: 1100px; height: 1100px; border-radius: 50%; z-index: -1;
          background: radial-gradient(50% 50% at 50% 50%, rgba(0, 55, 251, 0.13) 0%, rgba(111, 142, 255, 0.065) 49.48%, rgba(198, 210, 255, 0) 100%);
        }
        &-title {
          padding-bottom: 100px;
          p {line-height: 180%;}
        }
        &-raptor, &-oncoraptor, &-oncofind {
          display: flex; align-items: center;
          img {width: 180px; margin: 0 40px;}
          .inner {
            p {
              font-size: 1.25rem; color: #898989;
              &:nth-of-type(1) {margin-bottom: 16px;}
            }
          }
        }
      }
      &_people {
        @include line;
        p {margin-bottom: 80px; line-height: 180%;}
        &-gray {color: #9F9F9F;}
        ul {
          display: flex; flex-wrap: wrap; max-width: 1000px;
        }
      }
    }
  }
  .bio {
    &_lab {
      position: relative;
      &_explaine {
        &::after {content: ''; position: absolute; left: -600px; top: -400px; width: 1000px; height: 1000px; border-radius: 50%; z-index: -1;
                  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 55, 251, 0.13) 0%, rgba(111, 142, 255, 0.065) 49.48%, rgba(198, 210, 255, 0) 100%);
                  }
          @include line;
          p {
            line-height: 200%;
            &:nth-of-type(2), &:nth-of-type(5), &:nth-last-of-type(1) {
              margin-top: 32px;
            }
          }
        }
      &_people {
        @include line; position: relative;
        &::after {content: ''; position: absolute; right: -300px; bottom: -200px; width: 1000px; height: 1000px; border-radius: 50%; z-index: -1;
          background: radial-gradient(50% 50% at 50% 50%, rgba(0, 55, 251, 0.13) 0%, rgba(111, 142, 255, 0.065) 49.48%, rgba(198, 210, 255, 0) 100%);
        }
        p {margin-bottom: 80px;}
        &-gray {color: #9F9F9F;}
        ul {
          display: flex; flex-wrap: wrap; max-width: 1000px;
          img {max-height: 200px;}
        }
      }
    }
  }
  .operation {
    &_team {
      &_explaine {
        @include line; position: relative;
        &::after {content: ''; position: absolute; left: -400px; bottom: 100px; width: 1000px; height: 1000px; border-radius: 50%; z-index: -1;
          background: radial-gradient(50% 50% at 50% 50%, rgba(0, 55, 251, 0.13) 0%, rgba(111, 142, 255, 0.065) 49.48%, rgba(198, 210, 255, 0) 100%);
        }
        padding-top: 100px;
        p {
          line-height: 200%;
        }
      }
      &_people {
        @include line;
        p {
          &:nth-of-type(1) {
            margin-bottom: 32px;
          }
          &:nth-of-type(2) {
            margin-bottom: 80px;
          }
        }
        &-gray {color: #9F9F9F;}
        ul {
          display: flex; flex-wrap: wrap; max-width: 1000px;
          img {max-height: 200px;}
        }
      }
    }
  }
  .history {
    @include line; position: relative;
    &::after {content: ''; position: absolute; left: -400px; bottom: 100px; width: 1000px; height: 1000px; border-radius: 50%; z-index: -1;
      background: radial-gradient(50% 50% at 50% 50%, rgba(0, 55, 251, 0.13) 0%, rgba(111, 142, 255, 0.065) 49.48%, rgba(198, 210, 255, 0) 100%);
    }
    img {margin: 32px 0;}
    p {font-size: 1.375rem; line-height: 200%;}
  }
  .otherpage {@include otherpage;}
}
