.main {overflow: hidden; position: relative; display: flex; justify-content: space-between; align-items: center;}

#card {display: flex; flex-wrap: wrap; justify-content: space-between; width: 100%; position: relative;}
#card::before {content: 'Current calls'; position: absolute; top: -40px; left: 8px; width: 200px; height: 40px; color: var(--color-1); font-weight: bold;}

/* card */
#card li {display: grid; width: 450px; height: auto; margin-bottom: 40px; border-radius: 10px; gap: 8px; padding: 24px 16px; background: var(--color-7);
  border: 1px solid #d0dae9;
  /* box-shadow: 2px 2px 4px #eee; */
}
#card li p {display: flex; justify-content: space-between; color: var(--color-5);}
#card li p span {font-weight: 500; color: var(--color-4);}
#card li a {padding: 16px; background: var(--color-1); border-radius: 10px; position: relative; color: var(--color-3); margin-top: 24px;}
#card li a::before {content: ''; width: 80px; height: 48px; position: absolute; top: 4px; right: 0; transform: scale(0.6);
  background: no-repeat url('../../image/i_card_arrow_1.svg');
}

#card li a:hover {color: var(--color-7); background: var(--color-5); transition: 1s;}
/* #card li a:hover li {background: var(--color-5);}
#card li a:hover li p {color: var(--color-7);}
#card li a:hover li p span {color: var(--color-3);} */

@media (max-width: 1400px) {
  #card {margin-top: 40px;}
  #card li {width: 49%; margin-bottom: 16px; font-size: .75rem; padding: 16px;}
  #card::before {top: -28px; height: 28px; font-size: .875rem;}
}
@media (max-width: 960px) {
  #card {margin-top: 40px;}
  #card {overflow: auto;}
  #card::-webkit-scrollbar {display: none;}
  #card li {width: 100%;}
}
