wc-footer {
  width: 100%;
}
.footer {
  background: var(--footer-bg);
  display: grid; place-items: center; padding-top: 100px; padding-bottom: 40px;
  p {
    &:nth-of-type(1) {
      font-size: 1.5rem;
      text-align: center;
    }
  }
  a {
    font-size: .875rem;
    color: #8191a5;
    // background: #f2f7ff;
    border-radius: 10px;
    &:nth-of-type(1) {margin: 0;}
    // width: 768px;
    margin: 8px 0; padding: 8px 0; line-height: 130%;
    width: 100%;
    // box-shadow: 10px 10px 5px #d6dbe7;
    text-underline-position: under;
    text-align: center;
    // &::before {
    //   content: '';
    //   background: url('../images/work/work_arrow.svg');
    //   width: 13px; height: 26px; position: absolute; right: 3%; top: 33%;
    // }
  }
  .openlink {
    display: flex;
    position: relative;
    &>a {
      font-size: 1rem;
      display: flex; flex-wrap: wrap;
      box-shadow: 10px 10px 20px #d6dbe7;
      border-radius: 10px;
      padding: 32px 100px;
      background: #fff;
      margin: 80px 0;
      width: inherit; color: inherit; font-weight: bold;
      &::before {display: none;}
    }
  }
}