main {
  position: absolute; top: 45px; height: 100%; width: 100%; overflow-x: clip;
  section {
    display: grid; place-items: center;
  }
  .title {
    display: grid; place-items: center; height: 100vh;
    position: relative;
    &_box {
      position: relative;
      h1 {font-size: 28px; position: absolute; top: -140px;}
      p, a {font-size: 24px; text-align: center;}
      span {color: var(--color-blue-1);}
      width: 1100px; height: 390px; background: #F8FBFF;
      display: grid; place-items: center;
    }
    &::before {content: ''; position: absolute; left: -90px; bottom: -140px; width: 900px; height: 900px; border-radius: 900px; z-index: -1;
      background: radial-gradient(50% 50% at 50% 50%, rgba(0, 55, 251, 0.13) 0%, rgba(111, 142, 255, 0.065) 49.48%, rgba(198, 210, 255, 0) 100%);
    }
    &::after  {content: ''; position: absolute; right: -450px; top: -550px; width: 1100px; height: 1100px; border-radius: 900px; z-index: -1;
      background: radial-gradient(50% 50% at 50% 50%, rgba(0, 55, 251, 0.2) 0%, rgba(111, 142, 255, 0.1) 49.48%, rgba(198, 210, 255, 0) 100%);
    }
  }
}