.footer {display: grid; margin: 40px 0; width: 100%; justify-content: center;}
.footer a {font-size: 0.875rem; color: var(--color-1);}

@media (max-width: 960px) {
  .footer {margin: 32px 0;}
  .footer a {font-size: 0.75rem;}
}