.header {box-sizing: content-box; width: 100%; height: auto; display: flex; justify-content: space-between; align-items: center; padding: 16px 0 ; border-bottom: 1px solid var(--color-5);}
.header div a {padding: 0 16px; margin: 0 8px;}
.header .logo span {width: 100px; background: #eee; margin-right: 16px;}
.header .logo a {display: flex;}

@media (max-width: 960px) {
  .header {font-size: .75rem;}
  .header div a {padding: 0 8px; margin: 0 4px;}
}