.header {width: 100%; height: 40px; display: flex; justify-content: space-between; align-items: center;}
.header div a {padding: 0 16px; margin: 0 8px;}

@media (max-width: 960px) {
  .header div a {padding: 0 8px; margin: 0 4px;}
}