html,body {
  padding: 0; margin: 0; overflow: hidden;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth; isolation: isolate;
  line-height: 150%; -webkit-font-smoothing: antialiased;
  display: flex; justify-content: center; align-items: center;
  flex-direction: column;
  width: 100%;
}

a {color: inherit; text-decoration: none; position: relative;cursor: pointer;}
div {scroll-behavior: smooth;}
button {border: none; background: none; cursor: pointer; padding: 0; margin: 0; }

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,
b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,
time,mark,audio,video,input,button {
  margin:0;padding:0;border:0;vertical-align:baseline;list-style:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
  display:block;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,
q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
*,*::before,*::after{box-sizing:border-box;}
html,body,#__next{height:100%;}
*{margin:0;word-break:break-word;}
img,picture,video,canvas,svg{display:block;max-width:100%;}
input,button,textarea,select{font:inherit;}
input,button{border:none;border-radius:0;background:none;}
p,h1,h2,h3,h4,h5,h6{overflow-wrap:break-word;line-height: 150%;}
u {text-underline-position: under;}

@media (max-width: 960px) {
  html,body {
    padding: 0 8px;
    height: inherit; overflow: auto;
  }
}