@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
:root {
  --color-browser-bg: #888;
  --footer-bg: #ECF2FA;
  --color-blue-1: #0071FF;
}

html, body, #__next {
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  isolation: isolate;
  line-height: 150%;
  -webkit-font-smoothing: antialiased;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

div {
  scroll-behavior: smooth;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, #__next {
  height: 100%;
}

* {
  margin: 0;
  word-break: break-word;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

input, button {
  border: none;
  border-radius: 0;
  background: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  line-height: 150%;
}

u {
  text-underline-position: under;
}

main {
  position: absolute;
  top: 45px;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

main section {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100%;
  position: relative;
}

main .title {
  padding-top: 100px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100vh;
  position: relative;
}

main .title_box {
  position: relative;
  width: 1100px;
  height: 390px;
  background: #F8FBFF;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

main .title_box h1 {
  font-size: 28px;
  position: absolute;
  top: -140px;
}

main .title_box p, main .title_box a {
  font-size: 24px;
  text-align: center;
}

main .title_box span {
  color: var(--color-blue-1);
}

main .title::before {
  content: '';
  position: absolute;
  left: -400px;
  bottom: -140px;
  width: 900px;
  height: 900px;
  border-radius: 900px;
  z-index: -1;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 55, 251, 0.13) 0%, rgba(111, 142, 255, 0.065) 49.48%, rgba(198, 210, 255, 0) 100%);
}

main .title::after {
  content: '';
  position: absolute;
  right: -450px;
  top: -550px;
  width: 1100px;
  height: 1100px;
  border-radius: 900px;
  z-index: -1;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 55, 251, 0.2) 0%, rgba(111, 142, 255, 0.1) 49.48%, rgba(198, 210, 255, 0) 100%);
}

.header {
  background: #fff;
  color: #120B3D;
  -webkit-box-shadow: 0px 3px 20px #f6f8ff;
          box-shadow: 0px 3px 20px #f6f8ff;
  width: 100%;
  height: 45px;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header a {
  padding: 16px;
}

.header_mobile_menu {
  display: none;
}

@media (max-width: 700px) {
  .header_mobile_menu {
    display: block;
  }
}

@media (max-width: 700px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .gnb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .gnb a {
    padding: 8px;
  }
}

wc-footer {
  width: 100%;
}

.footer {
  background: var(--footer-bg);
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding-top: 100px;
  padding-bottom: 40px;
}

.footer p:nth-of-type(1) {
  font-size: 1.5rem;
  text-align: center;
}

.footer a {
  font-size: .875rem;
  color: #8191a5;
  border-radius: 10px;
  margin: 8px 0;
  padding: 8px 0;
  line-height: 130%;
  width: 100%;
  text-underline-position: under;
  text-align: center;
}

.footer a:nth-of-type(1) {
  margin: 0;
}

.footer .openlink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.footer .openlink > a {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 10px 10px 20px #d6dbe7;
          box-shadow: 10px 10px 20px #d6dbe7;
  border-radius: 10px;
  padding: 32px 100px;
  background: #fff;
  margin: 80px 0;
  width: inherit;
  color: inherit;
  font-weight: bold;
}

.footer .openlink > a::before {
  display: none;
}

.index {
  top: 0;
  background: #120B3D;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.index_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.index_menu img, .index_menu a {
  padding: 16px;
  margin: 8px;
  width: 80%;
  text-align: center;
}

.company section {
  border-bottom: 1px solid #eee;
  padding-bottom: 140px;
}

.company section:nth-of-type(1) {
  border: none;
  padding-bottom: 0;
}

.company span {
  color: var(--color-blue-1);
}

.company .message {
  height: 100%;
}

.company .message .ceo {
  position: relative;
}

.company .message .ceo img {
  margin-right: 200px;
}

.company .message .ceo_message {
  position: absolute;
  left: 55%;
  top: 120px;
  background: #fff;
  padding: 32px;
  border-radius: 20px;
  -webkit-box-shadow: -10px 10px 20px #f4fbff;
          box-shadow: -10px 10px 20px #f4fbff;
  line-height: 160%;
  color: #898989;
}

.company .message .ceo_message p:nth-last-of-type(1) {
  padding-top: 8px;
  font-weight: bold;
}

.company .message .ceo_message p:nth-of-type(2) {
  padding-top: 8px;
}

.company .message .cdo {
  position: relative;
  margin-top: 40px;
}

.company .message .cdo img {
  margin-left: 270px;
}

.company .message .cdo_message {
  position: absolute;
  right: 50%;
  bottom: 80px;
  background: #fff;
  padding: 32px;
  border-radius: 40px;
  -webkit-box-shadow: -7px -1px 15px #f0fbfb;
          box-shadow: -7px -1px 15px #f0fbfb;
  line-height: 160%;
  color: #898989;
}

.company .message .cdo_message p:nth-last-of-type(1) {
  padding-top: 8px;
  font-weight: bold;
}

.company .message .cdo_message p:nth-of-type(2), .company .message .cdo_message p:nth-of-type(3) {
  padding-top: 8px;
}

.company .message .cdo_message::after {
  border-top: 56px solid #ffffff;
  border-left: 15px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 120px solid transparent;
  content: "";
  position: absolute;
  top: 40px;
  right: -20px;
}

.company .vision p, .company .platform p, .company .history p, .company .otherpage p {
  margin: 100px;
  font-size: 24px;
  text-align: center;
}

.company .vision::after {
  content: '';
  position: absolute;
  right: -450px;
  top: -380px;
  width: 1100px;
  height: 1100px;
  border-radius: 50%;
  z-index: -1;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 135, 251, 0.1) 0%, rgba(111, 142, 255, 0.1) 49.48%, rgba(198, 210, 255, 0) 100%);
}

.company .platform .three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.company .platform .onco_park_ci {
  max-width: 1100px;
}

.company .platform .onco_park_ci::after {
  content: '';
  position: absolute;
  right: -150px;
  top: -40px;
  width: 1500px;
  height: 1500px;
  border-radius: 50%;
  z-index: -1;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 135, 251, 0.2) 0%, rgba(111, 142, 255, 0.1) 49.48%, rgba(198, 210, 255, 0) 100%);
}

.company .platform .three {
  margin: 100px 0;
}

.company .otherpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 600px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 0;
}

.company .otherpage a {
  margin: 0px 16px;
}

.company .otherpage a figure {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.work img {
  max-height: 420px;
}

.work span {
  color: var(--color-blue-1);
}

.work .title::before {
  left: inherit;
  right: -40px;
  bottom: -200px;
  width: 900px;
  height: 900px;
}

.work .title::after {
  left: -450px;
  right: inherit;
  top: -550px;
  width: 1130px;
  height: 1130px;
}

.work .title_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  padding-bottom: 32px;
}

.work .title_section a {
  padding: 0 24px;
  margin: 0 8px;
  width: 130px;
  height: 130px;
  font-size: 1.25rem;
  border-radius: 50%;
  mix-blend-mode: multiply;
}

.work .title_section a:nth-of-type(1) {
  background: center url("../../images/work/work_icon_1.png");
  background-size: cover;
}

.work .title_section a:nth-of-type(1)::before {
  content: 'AI 연구소';
}

.work .title_section a:nth-of-type(2) {
  background: center url("../../images/work/work_icon_2.png");
  background-size: cover;
}

.work .title_section a:nth-of-type(2)::before {
  content: '바이오 연구소';
}

.work .title_section a:nth-of-type(3) {
  background: center url("../../images/work/work_icon_3.png");
  background-size: cover;
}

.work .title_section a:nth-of-type(3)::before {
  content: '경영조직';
}

.work .title_section a::before {
  position: absolute;
  bottom: -50px;
  left: 0;
  letter-spacing: -1px;
  width: 130px;
}

.work .title_section a:hover {
  mix-blend-mode: normal;
  -webkit-transition: .5;
  transition: .5;
}

.work .ai, .work .bio, .work .operation {
  width: 100%;
  font-size: 1.375rem;
  line-height: 200%;
}

.work .ai > p:nth-of-type(1), .work .bio > p:nth-of-type(1), .work .operation > p:nth-of-type(1) {
  margin: 100px 0;
}

.work .ai_lab_explaine, .work .bio_lab_explaine, .work .operation_lab_explaine {
  border-bottom: 1px solid #ddd;
  padding: 140px 0;
}

.work .ai_lab_explaine p, .work .bio_lab_explaine p, .work .operation_lab_explaine p {
  line-height: 200%;
}

.work .ai_lab_explaine p:nth-of-type(2), .work .ai_lab_explaine p:nth-of-type(5), .work .ai_lab_explaine p:nth-last-of-type(1), .work .bio_lab_explaine p:nth-of-type(2), .work .bio_lab_explaine p:nth-of-type(5), .work .bio_lab_explaine p:nth-last-of-type(1), .work .operation_lab_explaine p:nth-of-type(2), .work .operation_lab_explaine p:nth-of-type(5), .work .operation_lab_explaine p:nth-last-of-type(1) {
  margin-top: 32px;
}

.work .ai_lab_platform, .work .bio_lab_platform, .work .operation_lab_platform {
  border-bottom: 1px solid #ddd;
  padding: 140px 0;
  position: relative;
}

.work .ai_lab_platform::before, .work .bio_lab_platform::before, .work .operation_lab_platform::before {
  content: '';
  position: absolute;
  right: -450px;
  top: -500px;
  width: 1100px;
  height: 1100px;
  border-radius: 50%;
  z-index: -1;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 55, 251, 0.13) 0%, rgba(111, 142, 255, 0.065) 49.48%, rgba(198, 210, 255, 0) 100%);
}

.work .ai_lab_platform-title, .work .bio_lab_platform-title, .work .operation_lab_platform-title {
  padding-bottom: 100px;
}

.work .ai_lab_platform-title p, .work .bio_lab_platform-title p, .work .operation_lab_platform-title p {
  line-height: 180%;
}

.work .ai_lab_platform-raptor, .work .ai_lab_platform-oncoraptor, .work .ai_lab_platform-oncofind, .work .bio_lab_platform-raptor, .work .bio_lab_platform-oncoraptor, .work .bio_lab_platform-oncofind, .work .operation_lab_platform-raptor, .work .operation_lab_platform-oncoraptor, .work .operation_lab_platform-oncofind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work .ai_lab_platform-raptor img, .work .ai_lab_platform-oncoraptor img, .work .ai_lab_platform-oncofind img, .work .bio_lab_platform-raptor img, .work .bio_lab_platform-oncoraptor img, .work .bio_lab_platform-oncofind img, .work .operation_lab_platform-raptor img, .work .operation_lab_platform-oncoraptor img, .work .operation_lab_platform-oncofind img {
  width: 180px;
  margin: 0 40px;
}

.work .ai_lab_platform-raptor .inner p, .work .ai_lab_platform-oncoraptor .inner p, .work .ai_lab_platform-oncofind .inner p, .work .bio_lab_platform-raptor .inner p, .work .bio_lab_platform-oncoraptor .inner p, .work .bio_lab_platform-oncofind .inner p, .work .operation_lab_platform-raptor .inner p, .work .operation_lab_platform-oncoraptor .inner p, .work .operation_lab_platform-oncofind .inner p {
  font-size: 1.25rem;
  color: #898989;
}

.work .ai_lab_platform-raptor .inner p:nth-of-type(1), .work .ai_lab_platform-oncoraptor .inner p:nth-of-type(1), .work .ai_lab_platform-oncofind .inner p:nth-of-type(1), .work .bio_lab_platform-raptor .inner p:nth-of-type(1), .work .bio_lab_platform-oncoraptor .inner p:nth-of-type(1), .work .bio_lab_platform-oncofind .inner p:nth-of-type(1), .work .operation_lab_platform-raptor .inner p:nth-of-type(1), .work .operation_lab_platform-oncoraptor .inner p:nth-of-type(1), .work .operation_lab_platform-oncofind .inner p:nth-of-type(1) {
  margin-bottom: 16px;
}

.work .ai_lab_people, .work .bio_lab_people, .work .operation_lab_people {
  border-bottom: 1px solid #ddd;
  padding: 140px 0;
}

.work .ai_lab_people p, .work .bio_lab_people p, .work .operation_lab_people p {
  margin-bottom: 80px;
  line-height: 180%;
}

.work .ai_lab_people-gray, .work .bio_lab_people-gray, .work .operation_lab_people-gray {
  color: #9F9F9F;
}

.work .ai_lab_people ul, .work .bio_lab_people ul, .work .operation_lab_people ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1000px;
}

.work .bio_lab {
  position: relative;
}

.work .bio_lab_explaine {
  border-bottom: 1px solid #ddd;
  padding: 140px 0;
}

.work .bio_lab_explaine::after {
  content: '';
  position: absolute;
  left: -600px;
  top: -400px;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  z-index: -1;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 55, 251, 0.13) 0%, rgba(111, 142, 255, 0.065) 49.48%, rgba(198, 210, 255, 0) 100%);
}

.work .bio_lab_explaine p {
  line-height: 200%;
}

.work .bio_lab_explaine p:nth-of-type(2), .work .bio_lab_explaine p:nth-of-type(5), .work .bio_lab_explaine p:nth-last-of-type(1) {
  margin-top: 32px;
}

.work .bio_lab_people {
  border-bottom: 1px solid #ddd;
  padding: 140px 0;
  position: relative;
}

.work .bio_lab_people::after {
  content: '';
  position: absolute;
  right: -300px;
  bottom: -200px;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  z-index: -1;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 55, 251, 0.13) 0%, rgba(111, 142, 255, 0.065) 49.48%, rgba(198, 210, 255, 0) 100%);
}

.work .bio_lab_people p {
  margin-bottom: 80px;
}

.work .bio_lab_people-gray {
  color: #9F9F9F;
}

.work .bio_lab_people ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1000px;
}

.work .bio_lab_people ul img {
  max-height: 200px;
}

.work .operation_team_explaine {
  border-bottom: 1px solid #ddd;
  padding: 140px 0;
  position: relative;
  padding-top: 100px;
}

.work .operation_team_explaine::after {
  content: '';
  position: absolute;
  left: -400px;
  bottom: 100px;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  z-index: -1;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 55, 251, 0.13) 0%, rgba(111, 142, 255, 0.065) 49.48%, rgba(198, 210, 255, 0) 100%);
}

.work .operation_team_explaine p {
  line-height: 200%;
}

.work .operation_team_people {
  border-bottom: 1px solid #ddd;
  padding: 140px 0;
}

.work .operation_team_people p:nth-of-type(1) {
  margin-bottom: 32px;
}

.work .operation_team_people p:nth-of-type(2) {
  margin-bottom: 80px;
}

.work .operation_team_people-gray {
  color: #9F9F9F;
}

.work .operation_team_people ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1000px;
}

.work .operation_team_people ul img {
  max-height: 200px;
}

.work .history {
  border-bottom: 1px solid #ddd;
  padding: 140px 0;
  position: relative;
}

.work .history::after {
  content: '';
  position: absolute;
  left: -400px;
  bottom: 100px;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  z-index: -1;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 55, 251, 0.13) 0%, rgba(111, 142, 255, 0.065) 49.48%, rgba(198, 210, 255, 0) 100%);
}

.work .history img {
  margin: 32px 0;
}

.work .history p {
  font-size: 1.375rem;
  line-height: 200%;
}

.work .otherpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 600px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 0;
}

.work .otherpage a {
  margin: 0px 16px;
}

.work .otherpage a figure {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

span {
  color: var(--color-blue-1);
}

main .oncocross {
  width: 100%;
}

main .oncocross .welfare {
  place-items: center;
  margin-bottom: 140px;
  width: 100%;
}

main .oncocross .welfare span {
  color: var(--color-blue-1);
}

main .oncocross .welfare_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1000px;
  margin-bottom: 16px;
}

main .oncocross .welfare_area p {
  font-size: 1.25rem;
  padding-left: 40px;
  line-height: 180%;
}

main .oncocross .welfare_area img {
  -webkit-box-shadow: 4px 4px 10px #ebeef5;
          box-shadow: 4px 4px 10px #ebeef5;
}

main .oncocross .welfare::before {
  content: '';
  position: absolute;
  left: 100px;
  top: -100px;
  width: 900px;
  height: 900px;
  border-radius: 50%;
  z-index: -1;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 55, 251, 0.13) 0%, rgba(111, 142, 255, 0.065) 40%, rgba(198, 210, 255, 0) 100%);
}

main .oncocross .welfare::after {
  content: '';
  position: absolute;
  right: 0px;
  bottom: -200px;
  width: 1100px;
  height: 1100px;
  border-radius: 50%;
  z-index: -1;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 55, 251, 0.15) 0%, rgba(111, 142, 255, 0.1) 50%, rgba(198, 210, 255, 0) 100%);
}

main .oncocross .map {
  background: #F8FBFF;
  width: 100%;
  padding: 140px 0;
}

main .oncocross .map_headoffice, main .oncocross .map_biolab {
  position: relative;
}

main .oncocross .map_headoffice p, main .oncocross .map_biolab p {
  margin-bottom: 32px;
}

main .oncocross .map_headoffice p:nth-of-type(1), main .oncocross .map_biolab p:nth-of-type(1) {
  font-size: 1.5rem;
  line-height: 160%;
}

main .oncocross .map_headoffice p:nth-of-type(2), main .oncocross .map_biolab p:nth-of-type(2) {
  font-size: 1.25rem;
  color: #898989;
  margin-top: 24px;
}

main .oncocross .map_headoffice img, main .oncocross .map_biolab img {
  width: 1000px;
  padding: 8px 0;
}

main .oncocross .map_headoffice {
  padding-bottom: 80px;
  margin-bottom: 100px;
  border-bottom: 1px dashed #cdd1df;
}

main .oncocross .map_headoffice::after {
  content: '';
  position: absolute;
  right: 240px;
  top: -320px;
  width: 1100px;
  height: 1100px;
  border-radius: 50%;
  z-index: 1;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 55, 251, 0.15) 0%, rgba(111, 142, 255, 0.1) 50%, rgba(198, 210, 255, 0) 100%);
}

main .oncocross .map_biolab::after {
  content: '';
  position: absolute;
  left: -10px;
  bottom: -220px;
  width: 900px;
  height: 900px;
  border-radius: 50%;
  z-index: 1;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 55, 251, 0.15) 0%, rgba(111, 142, 255, 0.1) 50%, rgba(198, 210, 255, 0) 100%);
}

main .oncocross .recruit {
  background: #F0F7FF;
  width: 100%;
  padding: 100px 0;
}

main .oncocross .recruit_description {
  margin-bottom: 80px;
  width: 1000px;
}

main .oncocross .recruit_description p {
  font-size: 1.5rem;
}

main .oncocross .recruit_description p:nth-of-type(1) {
  margin-bottom: 32px;
}

main .oncocross .recruit_description p:nth-of-type(2) {
  font-size: 1rem;
  color: #898989;
  line-height: 180%;
}

main .oncocross .recruit img {
  width: 1000px;
}

main .oncocross .otherpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 600px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 0;
}

main .oncocross .otherpage a {
  margin: 0px 16px;
}

main .oncocross .otherpage a figure {
  display: -ms-grid;
  display: grid;
  place-items: center;
}
/*# sourceMappingURL=style.css.map */